sqlalchemy
geoalchemy2
shapely  # only postprocessing
psycopg2-binary  # only postprocessing
zeep  
tqdm
geopandas  # still needed?
pyyaml  # still needed?
requests
keyring

# xml download
pandas >=1.4
clint
beautifulsoup4

# TODO: Delete requirements.txt